.landing {
  height: 100vh;

  .landingWrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;

    @media (max-width: 768px) {
      .images {
        height: 250px;
        width: 250px;
      }
    }

    .desc1 {
      position: absolute;
      top: 30%;
      left: 35%;
      color: white;
      font-size: 16px;
      font-weight: 300;
      p {
        margin: 0px;
        margin-bottom: 10px;
      }

      @media (max-width: 768px) {
        font-size: 12px;
        top: 38%;
        left: 10%;
      }
    }

    .desc2 {
      position: absolute;
      top: 42%;
      right: 33%;
      color: white;
      font-size: 16px;
      font-weight: 300;
      p {
        margin: 0px;
        margin-bottom: 10px;
      }

      @media (max-width: 768px) {
        font-size: 12px;
        top: 50%;
        right: 10%;
      }
    }

    .desc3 {
      position: absolute;
      top: 55%;
      left: 35%;
      color: white;
      font-size: 16px;
      font-weight: 300;
      p {
        margin: 0px;
        margin-bottom: 10px;
      }

      @media (max-width: 768px) {
        font-size: 12px;
        top: 60%;
        left: 5%;
      }
    }

    .desc4 {
      position: absolute;
      top: 65%;
      right: 33%;
      color: white;
      font-size: 16px;
      font-weight: 300;
      p {
        margin: 0px;
        margin-bottom: 10px;
      }
      @media (max-width: 768px) {
        font-size: 12px;
        top: 72%;
        right: 5%;
      }
    }

    .sliderContainer {
      position: absolute;
      top: calc(100vh - 350px);
    }

    .slider {
      position: relative;
      white-space: nowrap;
    }

    .slider p {
      position: relative;
      margin: 0px;
      color: white;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
    }

    .slider p:nth-of-type(2) {
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
}

.description {
  color: white;
  font-size: 34px;
  font-weight: 300;
  text-align: center;

  @media (max-width: 768px) {
    padding: 10px 15px;
    font-size: 28px;
  }
  p {
    margin: 0px;
    margin-bottom: 10px;

    span {
      background: -webkit-linear-gradient(
        360deg,
        rgb(250, 187, 255) 0%,
        rgb(177, 121, 255) 56%,
        rgb(109, 221, 255) 130%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  svg {
    transform: scale(2);
    // margin-bottom: 100px;
  }
}

.started {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slidingImages {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  margin-top: 100px;
  background-color: white;
  z-index: 1;
  .circleContainer {
    background-color: rgb(255, 255, 255);
    position: relative;
    // margin-top: 200px;
    .circle {
      height: 1550%;
      width: 110%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: white;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);

      .slider {
        position: relative;
        white-space: nowrap;
      }

      .slider p {
        position: relative;
        margin: 0px;
        color: white;
        font-size: 230px;
        font-weight: 500;
        padding-right: 50px;
      }

      .slider p:nth-of-type(2) {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
}
